Repository JuliaGPU/AMDGPU.jl, pull requests merged in 2022-09, with the labels that each got.

#276 Don't embed the method table in the AST
  src/device/gcn/helpers.jl
Labels: bug

#279 deps: Don't access is_available unless using succeeds
  Manifest.toml
  Project.toml
  deps/build.jl
Labels: bug, build

#264 Run wavefront tests with detected wavefrontsize
  src/device.jl
  test/device/wavefront.jl
Labels: tests, hsa

#280 device: Add ROCDevice() ctor
  src/device.jl
  test/hsa/device.jl
Labels: enhancement

#285 active_kernels: Use WeakKeyDict
  src/kernel-signal.jl
Labels: bug

#282 Use an optimized norm function for ROCBLASArray
  src/blas/highlevel.jl
  src/blas/wrappers.jl
  test/rocarray/blas.jl
Labels: enhancement, performance, blas

#289 CI: Add gfx90a to more jobs
  .buildkite/pipeline.yml
  Project.toml
Labels: ci

#284 Add rocBLAS_jll and rocSPARSE_jll deps
  Manifest.toml
  Manifest.toml.gpuarrays-6
  Manifest.toml.gpuarrays-7
  Project.toml
  deps/build.jl
  deps/loaddeps.jl
  src/AMDGPU.jl
  test/runtests.jl
Labels: enhancement, build, blas

#291 Mapreducedim support for AnyROCArray
  src/mapreduce.jl
Labels: bug, enhancement, arrays

#290 build: Remove build step, run at toplevel
  .buildkite/pipeline.yml
  Manifest.toml
  Manifest.toml.gpuarrays-6
  Manifest.toml.gpuarrays-7
  deps/bindeps.jl
  deps/build.jl
  deps/download_device_libs.jl
  deps/loaddeps.jl
  docs/src/index.md
  docs/src/quickstart.md
  src/AMDGPU.jl
  src/highlevel.jl
  src/utils.jl
Labels: enhancement, build, needs docs

#269 Add device quirks from CUDA.jl, enhance at-rocprintf
  .buildkite/pipeline.yml
  docs/src/printing.md
  src/AMDGPU.jl
  src/compiler.jl
  src/device/gcn.jl
  src/device/gcn/execution_control.jl
  src/device/gcn/hostcall.jl
  src/device/gcn/indexing.jl
  src/device/gcn/memory_dynamic.jl
  src/device/gcn/output.jl
  src/device/globals.jl
  src/device/llvm.jl
  src/device/quirks.jl
  src/device/runtime.jl
  src/devlibs.jl
  test/device/exceptions.jl
  test/device/output.jl
  test/runtests.jl
Labels: bug, enhancement, codegen, hostcall, output

#294 Fix precompilation
  src/AMDGPU.jl
  src/utils.jl
Labels: bug, hsa

#293 Parallelize tests
  .buildkite/pipeline.yml
  deps/bindeps.jl
  src/utils.jl
  test/Project.toml
  test/hsa/utils.jl
  test/runtests.jl
  test/setup.jl
Labels: bug, tests, performance

#302 Implement kernel hashing system
  src/AMDGPU.jl
  src/device/gcn/array.jl
  src/hashing.jl
  src/kernel.jl
  test/hsa/hashing.jl
  test/runtests.jl
Labels: bug, enhancement, hsa, performance
