Repository JuliaGPU/AMDGPU.jl, pull requests merged in 2023-08, with the labels that each got.

#457 Add missing HIP error code
  src/hip/libhip_common.jl
Labels: bug

#462 blas: Improve error on missing rocBLAS
  src/blas/rocBLAS.jl
  src/fft/rocFFT.jl
Labels: bug, blas

#470 Implement accumulate kernel
  src/AMDGPU.jl
  src/accumulate.jl
  src/device/gcn/memory_static.jl
  src/runtime/hsa_device.jl
  src/sparse/conversions.jl
  src/sparse/interfaces.jl
  test/rocarray/base.jl
  test/rocsparse/broadcast.jl
  test/rocsparse/interfaces.jl
Labels: bug, enhancement

#471 `AMDGPU.@elapsed`
  src/highlevel.jl
  src/hip/event.jl
  src/hip/libhip.jl
  test/runtests.jl
Labels: enhancement, needs tests, hip

#472 Expose `hipDeviceCanAccessPeer`
  src/hip/device.jl
  src/hip/libhip.jl
  test/runtests.jl
Labels: enhancement, hip
